@media (min-width:500px) {
    * {
        h1 {
            font-size: 3rem;

            #nose {
                font-size: 2rem;
            }
        }

        h2 {
            font-size: 3em;
        }

        h3 {
            font-size: 2em;
        }

        p {
            font-size: 1.5em;
        }

        label {
            font-size: 1.5em;
        }
    }

    main {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .redes {
        padding: 3%;
    }
}